@font-face {
  font-family: "Clash Grotesk";
  src: url("./clash-grotesk-d53779c99e-fe20647272.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Clash Grotesk";
  src: url("./clash-grotesk-9cb4f3a116-f0f7605cd1.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Clash Grotesk";
  src: url("./clash-grotesk-dfe7c02005-03ad7ecf75.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Clash Grotesk";
  src: url("./clash-grotesk-8badea4046-5c3815cf82.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Clash Grotesk";
  src: url("./clash-grotesk-2f1ef2e81f-befc194281.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Clash Grotesk";
  src: url("./clash-grotesk-9a486d081f-602a56af26.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Clash Grotesk";
  src: url("./clash-grotesk-721686edf7-3c56fcff3a.woff2") format("woff2");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("./satoshi-bb47d1df7b-9690a557b8.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("./satoshi-d3bb05b07e-50dca57f0b.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("./satoshi-e171ec21c0-dbcb8c322f.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("./satoshi-0cbb3ef2de-af02a72246.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("./satoshi-347fb8cf31-beb15382ce.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("./satoshi-3d0ae63f95-353a7fbfb4.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("./satoshi-7b48531517-52bfd9e8a1.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("./satoshi-da66eb5125-bd11b58202.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("./satoshi-c8fb0c6ea6-83d61d6709.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("./satoshi-020de39235-e739aff9b4.woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("./satoshi-6cbba9742a-e7b4e0ec5f.woff2") format("woff2");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}
